body {
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

textarea {
    width: 400px;
    height: 300px;
    padding: 10px;
}